<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
  <link rel="stylesheet" href="/css/blog.css" media="screen" title="no title" charset="utf-8">
  <script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/js/bower_components/jquery-timeago/jquery.timeago.js"></script>
  <script src="/js/blog.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
